*{
margin:0 auto;
padding: 0;
box-sizing: border-box;

}
body {
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.bg{
  width: 775px;
  height: 441px;
  background-color:rgba(217,205,247, 100%);
  border: solid rgba(0, 0, 0, 0);
 border-radius: 15px;
}
.textContainer{
margin-right: 5%;
top: 50%;
transform: translate(0, 100%);
float: right;
color: rgba(39 , 26, 69, 100%);



}
h1{
margin-top: 10px;
margin-bottom: 10px;
}

.id{
  font-size: 0.75rem;


}
.price{
  font-size: 1.1rem;
  margin-bottom: 15px;

}
.textButton{
  border: 1px solid rgba(39 , 26, 69, 100%);
  background-color: rgba(255, 255, 255, 0);
  height: 35px;
  width: 55%;
  border-radius: 15px;
  margin-left: -5px;
  transition: 0.7s;
  cursor:pointer;
}
.textButton:hover{
  background-color: rgb(170, 98, 154);
  color: white;
  border: none;

}
.product{
display: flex;
width: 56%;
padding-top: 13%;
}
#rotateButton{
position: absolute;
right: 50%;
bottom: 59%;
cursor:pointer;
}


